body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

header, nav, footer {
    background: #333;
    color: #fff;
    padding: 10px;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f7f7f7;
}

.navbar, .navbar.bg-success {
    background-color: #37b34a !important;
  }
  
  .navbar .nav-link {
    color: #ffffff !important;
  }
  
  .btn-custom {
    background-color: #37b34a;
    border-color: #37b34a;
    color: #ffffff;
  }
  
  .btn-custom:hover,
  .btn-custom:focus,
  .btn-custom:active {
    background-color: #2f9e3d;
    border-color: #2f9e3d;
    color: #ffffff;
  }
  
  .btn {
    background-color: #37b34a;
    border-color: #37b34a;
    color: #ffffff;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn:hover,
  .btn:focus,
  .btn:active {
    --bs-btn-hover-bg: #2f9e3d;
    --bs-btn-hover-border-color: #2f9e3d;
    --bs-btn-active-bg: #2f9e3d;
    --bs-btn-active-border-color: #2f9e3d;
    color: #ffffff;
  }

.col-md-4, .col-md-6 {
    padding: 60px 30px;
    background-color: #fff;
    border-radius: 15px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#action {
    min-width: 120px;
    margin: 5px;
}